/bodd1020.r
/bodd1070.r
/bodd1071.r
/bodd1120.r
/bodd1121.r
/custom.r
/facautorizacion.r
/margencte.r
/reportecheques.r
/vtaa0116.r
/vtac0200.r
/vtac0800.r
/vtac2060.r
/vtac2070.r
/vtad0040.r
/vtad1000.r
/vtad1040.r
/inva0156.r
