/ActivarClientes.r
/CatalogoAsociado.r
/CatalogoAsociadoCredito.r
/CatalogoBanco.r
/CatalogoCalidad.r
/CatalogoCiudad.r
/CatalogoClienteActivos.r
/CatalogoEstado.r
/CatalogoGiroCte.r
/CatalogoMoneda.r
/CatalogoPais.r
/CatalogoRFiscal.r
/CatalogoRamo.r
/CatalogoResponsable.r
/CatalogoTipoCliente.r
/CatalogoUsoCFDI.r
/CatalogoVendedor.r
/ClienteBancos.r
/ClienteBloqueo.r
/ClienteContado.r
/ClienteCreAgenda.r
/ClienteCreAsociados.r
/ClienteCreDatosEmbarque.r
/ClienteCredito.r
/ClienteDesbloqueo.r
/ClienteVer.r
/CondVta.r
/ConsultaBloqueoRFC.r
/DocContado.r
/FacturaRelacion.r
/FiltrarClientes.r
/GestionCteContado.r
/GestionCteContadoSeg.r
/GiroCteSegmentoCte.r
/HistorialCrediticio.r
/InactivarClientes.r
/Movctep.r
/Movctep2.r
/PedidoPorAutVisor.r
/Ramogirocte.r
/ReferenciaPortal.r
/RelacionCobranza.r
/ReporteAcuses.r
/ReporteAnticipos.r
/ReporteCartera.r
/ReporteClientes.r
/ReporteDepositos.r
/ReporteFacturaPlazoEspecial.r
/RespuestaCliente.r
/SolCredAutorizacion.r
/SolCredObservaciones.r
/SolCredPlazo.r
/SolCredReferProv.r
/SolicitudCredito.r
/SolicitudCreditoCte.r
/SolicitudesCredito.r
/ValidarClienteBd.r
/acuse.r
/anticipo-captura.r
/anticipocons.r
/anticipocons2.r
/bodc1160.r
/cambiarasociado.r
/cambiarcliente.r
/cambiartipocliente.r
/carteractevisor-reporte.r
/carteractevisor.r
/carteractevisor2.r
/carteragracte.r
/carteragractemes.r
/carteragraresp.r
/concacuse.r
/concacuse2.r
/conciliacion-contado.r
/conscliente.r
/consrelcob.r
/consultafactura.r
/custom.r
/custom2.r
/custom3.r
/custom4.r
/custom5.r
/cxcb0270.r
/cxcd0010.r
/deposito.r
/depositoR.r
/depositocon.r
/depositoestatus.r
/depvisor-facturas.r
/depvisor.r
/depvisor2.r
/depvisor3.r
/detallepedido.r
/detfactura.r
/devoluciones.r
/estadisticas.r
/estadoctacli.r
/estpedanual.r
/estpedanualdir.r
/guardacobobserv.r
/intereses.r
/intereses2.r
/ligapago.r
/limiteCreditoSug.r
/pagare.r
/pedaut.r
/pedidosecuenciap.r
/pednoaut.r
/pednoautdir.r
/poraut.r
/prueba.r
/refacturacion.r
/reportecheques.r
/saldocardresp.r
/saldocxc.r
/tabmc.r
/trig0030.r
/visorligaspendientes.r
/notificacion.r
